img {
  max-width: 100%;
  height: auto;
}

.back {
  background-image: url(/yabou/img/japan.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.back_container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.back_container_wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back_container_wrapper_box {
  background-color: blue;
  width: 15%;
  height: 15%;
  margin: 30px;
  color: white;
  border-radius: 20px;
}

.back_container_wrapper_box a {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  cursor: pointer;
  text-align: center;
}

#osaka {
  background-color: red;
}

#odawara {
  background-color: red;
}

#edo {
  background-color: red;
}

#kyoto {
  background-color: red;
}

#nagashino {
  background-color: red;
}

.saveAndTitle {
  position: absolute;
  bottom: 10%;
  background-color: white;
  height: 5vh;
  width: 30vw;
  border-radius: 10px;
  cursor: pointer;
}

.saveAndTitle a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: dimgray;
  font-weight: bold;
}

.callHelp {
  position: absolute;
  top: 10%;
  background-color: white;
  height: 5vh;
  width: 30vw;
  border-radius: 10px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
}

.callHelp:hover {
  cursor: pointer;
  animation: fadeIn 3s ease-in-out;
}

.callHelp a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: dimgray;
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
