img {
  max-width: 100%;
  height: auto;
}

body .testBox_a {
  background-image: url(/yabou/img/fujinzu.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

body .testBox_a_b {
  width: 80%;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

body .testBox_a_b_container .myteamFirst .bushoFirst {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top;
}

body .testBox_a_b_container .myteamFirst .bushoName {
  font-weight: bold;
  margin-top: 10px;
}

body .testBox_a_b_container .enemyFirst .bushoFirst {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top;
}

body .testBox_a_b_container .enemyFirst .bushoName {
  font-weight: bold;
  margin: 10px 0;
}

body .testBox_a_b_container img {
  width: 30%;
  margin: 10px 0;
}

body .testBox_a_b_container_choice {
  width: 80%;
  margin: auto;
}

body .testBox_a_b_container_choice li {
  border: 1px solid #000000;
  cursor: pointer;
  background-color: #fff;
  margin: 10px 0;
}

#insert #insertBox {
  background-color: blue;
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -11px rgba(95, 95, 95, 0.9);
}

#insert #insertBox p {
  font-size: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

#insert #insertBoxLose {
  background-color: red;
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -11px rgba(95, 95, 95, 0.9);
}

#insert #insertBoxLose p {
  font-size: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1d1d1d;
}

#insert2 #insertBox {
  background-color: blue;
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -11px rgba(95, 95, 95, 0.9);
}

#insert2 #insertBox p {
  font-size: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

#insert2 #insertBoxLose {
  background-color: red;
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -11px rgba(95, 95, 95, 0.9);
}

#insert2 #insertBoxLose p {
  font-size: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1d1d1d;
}

#insert2 #insertBox2 {
  background-color: blue;
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -11px rgba(95, 95, 95, 0.9);
}

#insert2 #insertBox2 p {
  font-size: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

#insert2 #insertBoxLose2 {
  background-color: red;
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -11px rgba(95, 95, 95, 0.9);
}

#insert2 #insertBoxLose2 p {
  font-size: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1d1d1d;
}

#insert3 #insertBox {
  background-color: blue;
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -11px rgba(95, 95, 95, 0.9);
}

#insert3 #insertBox p {
  font-size: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

#insert3 #insertBoxLose {
  background-color: red;
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -11px rgba(95, 95, 95, 0.9);
}

#insert3 #insertBoxLose p {
  font-size: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1d1d1d;
}

#insert3 #insertBox3 {
  background-color: blue;
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -11px rgba(95, 95, 95, 0.9);
}

#insert3 #insertBox3 p {
  font-size: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

#insert3 #insertBoxLose3 {
  background-color: red;
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -11px rgba(95, 95, 95, 0.9);
}

#insert3 #insertBoxLose3 p {
  font-size: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1d1d1d;
}

#com_hand {
  display: block;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 2vh;
}

#judgement {
  display: block;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 2vh;
}

#com_hand2 {
  display: block;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 2vh;
}

#judgement2 {
  display: block;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 2vh;
}

#com_hand3 {
  display: block;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 2vh;
}

#judgement3 {
  display: block;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 2vh;
}

.display-none {
  display: none;
}
